.contact-tabs {
  display: flex;
  padding: 0;
  border-bottom: 1px solid $border-color;
  margin: 0;
}

.contact-tab-item {
  position: relative;
  text-align: center;
  list-style-type: none;
  flex-grow: 1;
  padding: 0.5rem 0;
  cursor: pointer;
  border-bottom: solid 4px transparent;
  color: $font-color;
}

.contact-tab-item-title {
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0;
}

.contact-tab-item-count {
  position: absolute;
  font-size: 0.5rem;
  margin: 0;
  top: 2px;
  right: 4px;
}

.contact-tab-btn {
  align-self: center;
  color: #5e5e5e;
}

.contact-tab-btn:hover {
  background-color: #e5e5e5;
}

.current-tab {
  color: $primary-color;
  border-bottom: 4px solid $primary-color;
}

.disabled-tab {
  color: $disabled-font-color;
  cursor: default;
}

.tab-separator {
  width: 2px;
  height: 80%;
  background: $border-color;
  margin: 0 4px;
  align-self: center;
}
