/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(230, 230, 230);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(170, 170, 170);
  border-radius: 8px;
}
