@import "../../../styles/main.scss";

@mixin spinner {
  border: 5px solid $primary-color;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.spinner-sm {
  @include spinner;
  width: 24px;
  height: 24px;
  border-width: 4px;
}

.spinner-md {
  @include spinner;
  width: 36px;
  height: 36px;
  border-width: 6px;
}

.spinner-lg {
  @include spinner;
  width: 48px;
  height: 48px;
  border-width: 8px;
}
