@import "../../styles/main.scss";

.contact-container {
  background: white;
  max-width: 1100px;
  margin: 0 auto;
  border-right: 1px solid $border-color;
  border-left: 1px solid $border-color;
  box-shadow: 1px 1px 5px $border-color;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
}
