// colors
$primary-color: #007ea7;
$primary-color-dark: #003459;
$primary-color-light: #caf0f8;
$font-color: #00171f;
$font-color-light: #454545;
$disabled-font-color: #d3d3d3;
$border-color: #eaeaea;
$background-color: #fbfbfb;